---
const title = Astro.props.title;
const pubDate = Astro.props.pubDate;

function convertDate(date) {
  const formattedDate = date.toLocaleDateString("en-US", {
    month: "long",
    day: "2-digit",
    year: "numeric",
  });

  return formattedDate;
}
---

<div>
  <p class="font-bold text-4xl">{title}</p>
  <p class="mt-1 mb-10">{convertDate(pubDate)}</p>
</div>
