---

---

<section class="mx-auto w-full mt-1 article mb-40">
  <slot />
</section>

<script>
  document.querySelectorAll(".article a").forEach((link) => {
    link.setAttribute("target", "_blank");
    link.setAttribute("rel", "noopener noreferrer");
  });
</script>
