---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BaseLayout title="Blog">
  {posts.length === 0 ? (
    <p class="meta">No posts yet.</p>
  ) : (
    <ul class="list-disc pl-5 space-y-2">
      {posts
        .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
        .map((p) => (
          <li>
            <a href={`/blog/${p.id}`}>{p.data.title}</a>
          </li>
        ))}
    </ul>
  )}
</BaseLayout>

