---
import BaseLayout from "../layouts/BaseLayout.astro";
import { education } from "../data/education";
---

<BaseLayout title="Education">
  <div class="leading-tight space-y-3">
    {education.map((item) => (
      <div class="mb-5">
        <p class="mb-0.5 mt-1 font-bold text-lg">{item.school}</p>
        <p class="mb-0.5">{item.degree}</p>
        <p class="meta mb-0.5">{item.dates}</p>
        {item.meta && <p class="meta">{item.meta}</p>}
      </div>
    ))}
  </div>
</BaseLayout>
