---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout noScroll={true}>
  <div class="space-y-2">
    <p class="text-xl font-bold">Alex Gornovoi</p>
    <p><a href="/experience">AI Engineer @ Cigna</a></p>
    <p><a href="/education">MSCS @ GTech</a></p>
    <p><a href="/projects">Projects</a></p>
    <p><a href="/blog">Blog</a></p>
    <p><a href="https://github.com/alexgornovoi" target="_blank" rel="noopener noreferrer">GitHub</a></p>
    <p><a href="https://www.linkedin.com/in/alexeygornovoi/" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
  </div>
</BaseLayout>
