---
import Navigation from "./Navigation.astro";
import Socials from "./Socials.astro";
---

<nav
    class="sticky top-5 flex items-center justify-between w-3xl py-4 bg-night/75"
>
    <a class="font-bold text-lg" href="/">Alex Gornovoi</a>
    <div class="absolute left-1/2 transform -translate-x-1/2">
        <Navigation />
    </div>
    <Socials />
</nav>
