---
import Navigation from "./Navigation.astro";
import Socials from "./Socials.astro";
---

<nav
    class="sticky top-5 flex items-center justify-between w-3xl py-4 bg-night/75"
>
    <p class="font-bold">Alex Gornovoi</p>
    <div class="absolute left-1/2 transform -translate-x-1/2">
        <Navigation />
    </div>
    <Socials />
</nav>
