---
let { tools, maxWidth } = Astro.props;

if (maxWidth != undefined) {
  tools = tools.slice(0, Math.min(maxWidth, tools.length));
}
---

{
  tools.map((tool: string) => (
    <div class="bg-tool-box/45 mr-1 mt-1 py-0.5 px-1.5 rounded-full">
      <p class="text-xs text-off-white/85">{tool}</p>
    </div>
  ))
}
