---
import "../../../styles/global.css";
import experience from "./_experience.json";
---

{
    experience.map(({ logo, name, time, positions }) => (
        <div class="content">
            <div class="flex"></div>
            <p>Test</p>
        </div>
    ))
}
