---
import "../../../styles/global.css";
import experience from "./_experience.json";
---

{
    experience.map(({ logo, name, time, positions }) => (
        <div class="content flex-1">
            <div class="flex "></div>
            <p>{name}</p>
        </div>
    ))
}
