---
import "../styles/global.css";
import Header from "@components/Header.astro";
import PostContent from "./components/PostContent.astro";
import BlogHeader from "./components/BlogHeader.astro";

const details = Astro.props.blog.data;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Katex -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <Header />
    <main class="flex flex-col items-center h-full py-10">
      <div class="w-3/4">
        <BlogHeader title={details.title} pubDate={details.pubDate} />
        <PostContent class="mb-40">
          <slot />
        </PostContent>
      </div>
    </main>
  </body>
</html>
